# pnpm 配置项

# 自动安装缺失的 peer dependencies
auto-install-peers=true

# 强制检查 package.json 中的 engines 字段
# 如果用户的包管理器版本不符合要求，将拒绝安装
engine-strict=true

# 镜像源
registry=https://registry.npmmirror.com/
disturl=https://npmmirror.com/mirrors/node/
sass-binary-site=https://npmmirror.com/mirrors/node-sass/
