**/*.md
**/pnpm-lock.yaml

**/node-modules

packages/backend/prisma/generated/

packages/docsite/.vitepress/cache/
packages/docsite/api-reference/openapi.json

packages/frontend/test-results/
packages/frontend/test/.auth/
packages/frontend/src-tauri/target/**
packages/frontend/src-tauri/gen
