# pnpm 配置项

# 自动安装缺失的 peer dependencies
auto-install-peers=true

# 强制检查 package.json 中的 engines 字段
# 如果用户的包管理器版本不符合要求，将拒绝安装
engine-strict=true

# 使用软链接安装 node_modules 依赖，与 npm/yarn 兼容性更好
node-linker=hoisted
