NODE_ENV=development
PORT=3000
DATABASE_URL=
SHADOW_DATABASE_URL=

ALLOWED_ORIGINS_PROD=
ALLOWED_ORIGINS_DEV=http://localhost:5173

LOG_LEVEL=

SLOW_REQUEST_WARN_MS=1000
SLOW_REQUEST_ERROR_MS=3000

SLOW_QUERY_WARN_MS=100
SLOW_QUERY_ERROR_MS=500

REQUEST_TIMEOUT_MS=30000

API_DOCS_BASE_URL=http://localhost:3000/errors

# JWT
JWT_ACCESS_PRIVATE_KEY=
JWT_ACCESS_PUBLIC_KEY=
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_PRIVATE_KEY=
JWT_REFRESH_PUBLIC_KEY=
JWT_REFRESH_EXPIRES_IN=7d

JWT_REFRESH_COOKIE_SAME_SITE=lax
JWT_REFRESH_COOKIE_SECURE=false
JWT_REFRESH_COOKIE_PATH=/auth
JWT_REFRESH_COOKIE_MAX_AGE_MS=604800000
